.grid {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 2px;
  }
  .cell {
    width: 55px;
    height: 55px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
  }
  .color-picker {
    margin-top: 10px;
  }

.box {
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
    border: 1px solid black;
  }
  
  .red {
    background-color: #ff0000;
  }
  
  .green {
    background-color: #00c500;
  }
  
  .blue {
    background-color: #0000ff;
  }

  .yellow {
    background-color: #ffff00;
  }
  
  .pink {
    background-color: #ffc0cb;
  }
  
  .darkpurple {
    background-color: #7e00a5;
  }
  
  .lightpurple {
    background-color: #ff00f2;
  }
  
  .darkgreen {
    background-color: #006400;
  }
  
  .orange {
    background-color: #ffa500;
  }
  
  .lightblue {
    background-color: #87cefa;
  }
  
  .brown {
    background-color: #a52a2a;
  }
  
  .gray {
    background-color: #808080;
  }
  
  .olive {
    background-color: #808000;
  }
  

  .null {
    background-color: #ffffff;
  }